<!-- ./templates/account/perfil.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}- Perfil{% endblock title %}
    
{% block content %}
<div class="container mb-5">
    
    <!-- sidebar opciones (se muestra cuando se clickea el boton)-->
      <a class="boton-flotante" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <i class="fa-solid fa-chevron-right" style="color: #1d3557;"></i>
      </a>
      <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Button with data-bs-target
      </button> -->
      
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Opciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

          <div class="opcion-barra-lateral">
            <a href="{% url 'mis-mascotas' %}"><i class="fa-solid fa-paw"></i> Mis mascotas</a>
          </div>
          
          {% if user.is_staff %}
          <div class="opcion-barra-lateral">
            <a href="{% url 'lista-usuarios' %}"><i class="fa-solid fa-user"></i> Administración de Usuarios</a>
          </div>
          {% endif %}
          
          <div class="opcion-barra-lateral">
            <a href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</a>
          </div>
        </div>
      </div>

      <!-- info del usuario(siempre se muestra) -->
    <div class="info-usuario">
        <h1>Mi Perfil</h1>
        <p>Nombre de usuario: {{user.username}}</p>
        <p>Nombre: {{user.nombre}}</p>
        <p>Apellido/s: {{user.apellidos}}</p>
        <p>Correo electrónico: {{user.email}}</p>
        <a class="btn boton" href="#">Actualizar información</a>
        <a href="#" class="btn boton boton-rojo">Eliminar cuenta</a>
    </div>
</div>
{% endblock content %}