<!-- .templates/mascotas/agregar_mascota.html -->
{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}- Agregar Mascota{% endblock title %}

{% block content %}
    <div class="container mt-3 mb-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy}}
            <a href="{% url 'mis-mascotas' %}" class="btn boton boton-rojo"><i class="fa-solid fa-ban mr-2"></i>Cancelar</a>
            <button type="submit" class="btn boton"><i class="fa-solid fa-floppy-disk mr-2"></i>Guardar</button>
        </form>
    </div>
{% endblock content %}
    