<!-- ./plantillas/mascotas/lista_mascotas.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}- Adopta{% endblock title %}
    
{% block content %}
<!-- Seccion principal -->
<div class="seccion seccion-principal texto-principal">
    <img src="{% static 'img/adopta1.jpg' %}" alt="Imagen Principal Adopta">
    <div class="texto-principal-absolute">
        <p><span>Adopta</span> una mascota</p>
    </div>
</div>
<!-- fin Seccion principal -->
<div class="container mt-3 mb-3">
        <h2>Mascotas en adopción</h2>

        <div class="contenedor-mascotas">
        {% for mascota in lista_mascotas %}
            <div class="mascota contenedor-imagen-texto">
                <div class="imagen">
                    {% if mascota.imagen %}
                    <img class="img-fluid" src="{{mascota.imagen.url}}" alt="{{mascota.nombre}}">
                    {% else %}
                    <img class="img-fluid" src="{% static 'img/icono.png' %}" alt="Imagen Mascota">
                    {% endif %}
                </div>
                <div class="texto">
                    <a class="nombre-mascota" href="{% url 'detalle-mascota' mascota.pk %}">{{mascota.nombre}}</a>
                    <p class="">{{mascota.descripcion}}</p>
                    <a href="{% url 'detalle-mascota' mascota.pk %}" class="btn boton">Conócelo</a>
                </div>
            </div>
            {% endfor %}
        </div>
            
    </div>
{% endblock content %}
    