{% extends 'base.html' %}

{% block title %}- Contacto{% endblock title %}

{% block content %}
    <div class="centrar-texto inicio-contacto">
        <h1>¿Dudas? CONTÁCTANOS</h1>
    </div>

  <main class="seccion contenedor-contacto">

      <div class="linea-entrada">
          <h2 class="fw-500">Escríbenos</h2>
          <h3 class="fw-300">Uno de nuestros asistentes se pondra en contacto con usted en el menor tiempo posible</h3>
          <h4 class="fw-400">Datos personales</h4>

          <form action="">
              <label for="nombre">Nombre(s):</label>
              <input type="text" id="nombre" placeholder="Nombre(s)" required>

              <label for="apellido">Apellido(s):</label>
              <input type="text" id="apellido" placeholder="Apellido(s)">

              <label for="email">Correo Electrónico:</label>
              <input type="email" id="email" placeholder="Correo electronico" required>

              <label for="celular">Número de celular:</label>
              <input type="tel" id="celular" placeholder="Número celular (10 dígitos)" maxlength="10">

              <h4 class="fw-400">Mensaje</h4>

              <label for="Asunto">Asunto:</label>
              <input type="text" id="asunto" placeholder="Tema o asunto del mensaje" required>

              <label for="mensaje">Contenido:</label>
              <textarea id="mensaje" required></textarea>

              <input type="submit" value="Enviar Mensaje" class="btn boton">
          </form>
      </div>

      <div class="centrar-texto texto-horario-contacto">
          <p>HORARIOS DE CONTACTO</p>
          <p>¿Deseas llamarnos?</p>
          <p>Tel: 871-486-90-90</p>
          <p>Horarios:</p>
          <p>Lunes a Viernes: 10:00 - 18:00</p>
          <p>Sábados y Domingos: 10:00 - 14:00</p>
      </div>
  </main>
{% endblock content %}
    